<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Rio Cartoonizer, ​Voyez instantanément votre visage&nbsp;de cartoon en utilisant notre Rio Cartoonizer.ce cartoonize​r adopte AnimeGANv2 pour&nbsp;caricaturer automatiquement votre photo&nbsp;de visage.
Au lieu d&amp;apos;utiliser des filtres de cartoons,&nbsp;un seul clic vous permettra de vous&nbsp;caricaturer en ligne sans effort pour obtenirdes effets étonnants., ​Rio Cartoonizer permet de créer de superbes effets de dessin animé pour paysages, d&amp;apos;animaux domestiques, de nourriture et plus encore. En utilisant des algorithmes avancés, notre cartoonizer d&amp;apos;images peut vous servir comme convertisseur d&amp;apos;une image en dessin animé, même au niveau de l&amp;apos;impression">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Caricaturer votre photo</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css/ConvertImg.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "../static/images/Capturedcran2022-04-24202228.png",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/name"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
  </head>


  <body class="u-body u-xl-mode">
    {% include './Header.html' %}
      
    <section class="u-clearfix u-image u-section-1" id="sec-2337" data-image-width="2560" data-image-height="1440">
      
      
      
      <div  class="u-border-3 u-border-palette-5-dark-1 u-shape u-shape-bottom u-shape-right u-shape-1"></div>
      <h3 class="u-text u-text-default u-text-white u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000"> Caricaturer votre Photo&nbsp;<br>avec UN Clic 
      </h3>
      <div class="u-list u-list-1" >
        <div class="u-repeater u-repeater-1">
          <div  class="u-border-white u-container-style u-hover-feature u-list-item u-radius-41 u-repeater-item u-shape-round u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="u-custom-font u-font-lato u-text u-text-default u-text-2">Importer l'<span style="font-weight: 700;"></span>image<span style="font-weight: 700;"></span>
                <a href=""></h5><span class="u-file-icon u-icon u-icon-1"><img src="../static/images/7252599.png" alt=""></span>
                <input type="file" name="img" id="img">
                </a>
                <button type="submit" style="background-color: white; border-radius: 20%; border-color: aqua;" >Start</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <div  class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" >
          <div class="u-layout-row" >
            
              <div >
                <img src="../static/images/ImgCartoon.png" >
                <img src="../static/images/ImgEdges.png" >
              </div>
            
          </div>
        </div>
      </div>
      
    </section>
    <a href="/images/ConvertImg/ImgCartoon.png" download class="u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-3 u-palette-2-base u-radius-50 u-btn-1">
      <span class="u-file-icon u-icon u-icon-2">
      <img src="../static/images/2810390.png" alt=""></span>&nbsp;Telecharger CartoonImg
    </a>
    <a href="/images/ConvertImg/ImgEdges.png" download class="u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-3 u-palette-2-base u-radius-50 u-btn-1">
      <span class="u-file-icon u-icon u-icon-2">
      <img src="../static/images/2810390.png" alt=""></span>&nbsp;Telecharger EdgeImg
    </a>
    <section class="u-clearfix u-grey-5 u-section-2" id="sec-2f2b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-default u-image-1" src="../static/images/compare_2-b149092534.webp" alt="" data-image-width="704" data-image-height="374" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">
        <h1 class="u-custom-font u-font-lato u-text u-text-palette-3-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000"> Rio Cartoonizer</h1>
        <h2 class="u-custom-font u-heading-font u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Voyez instantanément votre visage<br>&nbsp;de cartoon en utilisant notre <span style="font-weight: 700;">Rio Cartoonizer</span>.<br>ce cartoonize​r adopte AnimeGANv2 pour&nbsp;<br>caricaturer automatiquement votre photo<br>&nbsp;de visage. <br>
          <br>Au lieu d'utiliser des filtres de cartoons,&nbsp;<br>un seul clic vous permettra de vous&nbsp;<br>caricaturer en ligne sans effort pour obtenir<br>des effets étonnants.
        </h2>
        <img class="u-image u-image-default u-image-2" src="../static/images/compare_1-a8b8392170.webp" alt="" data-image-width="704" data-image-height="374" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">
        <h2 class="u-custom-font u-heading-font u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="X">
          <span style="font-weight: 700; font-size: 1.875rem;" class="u-text-palette-2-base"> Rio Cartoonizer</span> permet de créer de superbes effets de dessin animé pour paysages, d'animaux domestiques, de nourriture et plus encore. En utilisant des algorithmes avancés, notre cartoonizer d'images peut vous servir comme convertisseur d'une image en dessin animé, même au niveau de l'impression
        </h2>
      </div>
    </section>
    
    
    {% include './Footer.html' %}
    
  </body>
</html>