<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Jeux</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css/jeux.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "../static/images/Capturedcran2022-04-24202228.png",
		"sameAs": [
				"https://facebook.com/name",
				"https://twitter.com/name"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Se connecter">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Se connecter">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode">
    
    {% include './HeaderMod.html' %}

    
      <section class="u-clearfix u-palette-1-light-3 u-section-1" id="sec-4e6d">
        <div class="u-clearfix u-sheet u-sheet-1">
          <img class="u-image u-image-default u-image-1" src="../static/images/donat.png"alt="" data-image-width="1024" data-image-height="1016">
          <div class="u-border-3 u-border-white u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <iframe src="https://lululataupe.com/jeux/4-6-ans/alphabet/" 
                    frameborder="0" height="500" width="700">
                </iframe>
            </div>
          </div>
          <img class="u-image u-image-default u-image-2" src="../static/images/robot.png" alt="" data-image-width="3000" data-image-height="2777">
        </div>
      </section>
      <section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-11f8">
        <div class="u-border-3 u-border-white u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           <iframe src="https://lululataupe.com/jeux/2-4-ans/maths/tri-selon-les-couleurs/" 
                    frameborder="0" height="500" width="700">
                </iframe>
          </div>
        </div>
        <img class="u-image u-image-contain u-image-default u-image-1" src="../static/images/zrbot.png" alt="" data-image-width="1042" data-image-height="1254">
        <img class="u-image u-image-contain u-image-default u-image-2" src="../static/images/jsp.png" alt="" data-image-width="2735" data-image-height="2944">
        
      </section>
      <section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-11f8">
        <div class="u-border-3 u-border-white u-container-style u-group u-radius-50 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           <iframe src="https://lululataupe.com/jeux/2-4-ans/animaux-de-la-ferme/" 
                    frameborder="0" height="500" width="700">
                </iframe>
          </div>
        </div>
        <img class="u-image u-image-contain u-image-default u-image-1" src="../static/images/zrbot.png" alt="" data-image-width="1042" data-image-height="1254">
        <img class="u-image u-image-contain u-image-default u-image-2" src="../static/images/jsp.png" alt="" data-image-width="2735" data-image-height="2944">
        
      </section>
    {% include './Footer.html' %}
    
  </body>
</html>
